h2 {
    padding-top: 30px;
}

form {
    width: 100%;
}

.navbar-light .navbar-brand{
    color: red;
}

.list-group {
    width: 100%;
}

.list-group .list-group-item {
    background-color: #ffc107;
    margin-top: 10px;
    border: none;
}

.list-group .card {
    flex-direction: row-reverse;
}

.list-group li .card .image{
    width: 88px;
    display: block;
    float: left;
    margin: 5px;
}

.list-group li .card .image img {
    width: 100%;
}